* {
	margin: 0;
	padding: 0;
	color: #fff;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	scroll-behavior: smooth;
}

html, body {
	width: 100%;
	height: 100%;
}

.page__wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.page__header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

	display: flex;
	align-items: center;
	justify-content: center;
}

.header__item {
	margin: 10px;
	cursor: pointer;
	padding: 5px 20px;
	border-radius: 20px;
	transition: all .2s ease;
}

.header__item.active {
	background-color: rgb(6, 50, 50);
}

.page__section {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.section__item {
	width: 100%;
	height: 100%;
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-color);
}

.section__item:before,
.section__item::after {
	content: "";
	height: 100%;
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
}


.section__item:nth-child(1):before {
	top: 50%;
	/* display: none; */
	background-image: linear-gradient(-2deg, transparent 50%, var(--bg-color) 50%);
}

.section__item:nth-child(2):before {
	bottom: 50%;
	/* display: none; */
	background-image: linear-gradient(-2deg,  var(--bg-color) 50%,  transparent 50%);
}

.section__item:nth-child(2)::after {
	top: 50%;
	/* display: none; */
	background-image: linear-gradient(2deg,  transparent 50%, var(--bg-color) 50%);
}

.section__item:nth-child(3):before {
	/* display: none; */
	bottom: 50%;
	background-image: linear-gradient(2deg, var(--bg-color)  50%, transparent 50%);
}


.section__item__container {
	position: absolute;
	top: 0;
	left: 25%;
	right: 25%;
	bottom: 0;
	z-index: 2;
	
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
}

.section__item__heading {
	opacity: 0;
	padding: 20px;
	text-transform: uppercase;
	transition: all 1s ease-in-out;
	transition-delay: .2s;
	transform: translateX(-300%);
}

.section__item__content {
	opacity: 0;
	padding: 20px;
	transform: translateX(-300%);
	transition: all 1s ease-in-out;
	transition-delay: .4s;
}

.section__item__boxs {
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px -24px;
	transform: translateX(-300%);

	transition: all 1s ease-in-out;
	transition-delay: .6s;
}

.section__item__box {
	width: 190px;
	height: 190px;
	padding: 24px;
	overflow: hidden;
	flex-shrink: 0;
}

.section__item__box img {
	width: 100%;
	height: 100%;
}

.section__item__box.rounded img {
	border-radius: 50%;
}


.section__item.show__mode .section__item__heading,
.section__item.show__mode .section__item__content,
.section__item.show__mode .section__item__boxs {
	transform: translateX(0);
	opacity: 1;
}
